{% macro directoryMap(path) %}
<li>
<a href="/{{ path.path }}/">{{ path.name }}</a>
 {% if path.folders %}
    <ul>
        {% for folder in path.folders %}
            {{ directoryMap(folder) }}
            <div class="dirGallery">
                {% for image in folder.images %}
                    <img class="dirThumbnail" src="{{ image.url }}">
                {% endfor %}
            </div>
        {% endfor %}
        <ul>

        </ul>
    </ul>
    {% endif %}
</li>

<style>
.dirGallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.dirThumbnail {
    max-width: 20vw;
    flex: 0 1 auto;
}
</style>
{% endmacro %}

