---
layout: 'base.njk'
eleventyNavigation:
  key: image
  parent: album
pagination:
  data: cloudinaryImages
  size: 1
  alias: image
permalink: "/{{ image.file }}/index.html"
---

{{ image.name }}

<img class="hero-image" src="{{ image.imageSrc }}" alt="placeholder image alt">

<style>
  .hero-image {
    max-width: 80vw;
    max-height: 80vh;
  }
</style>