---
layout: 'base.njk'
pagination:
  data: imageList
  size: 1
  alias: image
permalink: "/{{ image.public_id }}/index.html"
---

{{ image.filename }}

<img class="hero-image" src="https://res.cloudinary.com/sid-miller-design/{{ cloudinary.medium }}{{ image.public_id }}" alt="placeholder image alt">

<style>
  .hero-image {
    max-width: 80vw;
    max-height: 80vh;
  }
</style>